{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="border-b-3 border-gray-dark">
    <div>
        <img class="h-full w-auto lg:ml-32 pt-4 pb-4" src="{% static 'dark_logo.png' %}" alt="Logo" />
    </div>
</div>
<div class="w-full px-6 py-12 text-black border-b-3 border-gray-dark">
    <div class="flex flex-col lg:flex-row items-center">
        <!-- Left: text -->
        <div class="w-full lg:w-1/2 text-center lg:text-left px-6 lg:px-12">
            <h1 class="text-5xl md:text-7xl lg:text-8xl leading-tight text-gray-900">
                Truly bespoke
                <br />
                kitchen &amp; cabinet
                <br />
                makers.
            </h1>
            <div class="mt-8 flex justify-center lg:justify-start gap-6">
                <a href="#contact" class="px-8 py-3 border border-gray-900 inline-block text-center w-48 hover:bg-background-h">Contact us</a>
                <a href="#work" class="px-8 py-3 border border-gray-900 inline-block text-center w-48 hover:bg-background-h">View our work</a>
            </div>
        </div>

        <!-- Right: image -->
        <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pl-12">
            <img src="{% static 'Heritage_coast_02.jpg' %}" alt="Kitchen example" class="w-full h-auto object-cover" />
        </div>
    </div>
</div>
<div class="bg-background">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-prose text-center">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">Sign up for our newsletter</h2>

            <p class="mt-4 text-gray-900">
                Fresh from the workshop: join our list to get updates on our most recent furniture builds and design ideas straight to your inbox.
            </p>
        </div>

        <form action="#" class="mx-auto mt-6 flex max-w-xl flex-col gap-4 sm:flex-row sm:items-center sm:justify-center">
            <label for="Email" class="flex-1">
                <span class="sr-only"> Email </span>

                <input type="email" id="Email" placeholder="Enter your email" class="h-12 w-full text-black rounded border border-gray-900 pl-4" />
            </label>

            <button type="submit" class="h-12 rounded-sm border border-gray-900 px-12 py-3 text-sm font-medium hover:bg-background-h text-gray-900 focus:ring-3 focus:outline-hidden">
                Sign Up
            </button>
        </form>
    </div>
</div>
{% endblock %}